<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>
{% if dishes == 'empty' %}
<p style="font-size: 22px">
    Укажите название блюда в адресе запроса<br>
    Например: http://127.0.0.1:8000/omlet/<br>
</p>
{% if quantity == 1 %}
<p style="font-size: 22px">
    Дополнительно можно указать количество персон через параметр servings<br>
    Например: http://127.0.0.1:8000/omlet/?servings=5<br>
</p>
{% endif %}
{% elif dishes == 'not found' %}
<p style="font-size: 22px">
    Блюдо не найдено в базе.<br>
    Пожалуйста, укажите другое блюдо<br>
</p>
{% else %}
<p style="font-size: 22px">
    Рецепт {{ dishes }} на {{ quantity }} персон(ы)
</p>
<ul style="font-size: 22px">
    {% for ingredient, amount in recipe.items %}
    <li>{{ ingredient }}: {{ amount }}</li>

    {% endfor %}
</ul>
{{ context }}
{% endif %}
</body>
</html>
